* {
  /* outline: 1px solid red; */
}

:root {
  --lime: rgba(174, 255, 47, 1);
  /* colore principale */
  --lime-soft: rgba(174, 255, 47, 0.2);
  /* per glow o sfondi */
  --lime-hover: rgba(174, 255, 47, 0.8);
  /* per hover o pulsanti */
  --backgroundWhite: #eee;
  --backgroundBlack: #000000;
  --background: #010824;
  /* sfondo blu notte */
  --foreground: #0d1117;
  /* superfici scure */
  --text-main: #e6e6e6;
  /* testo primario */
  --text-muted: #a0a0a0;
  /* testo secondario */
  --accent-bg: rgba(174, 255, 47, 0.05);
  /* background evidenziati */
  --name-text-1: rgba(90, 255, 133, 0.8);
  --name-text-2: rgba(0, 255, 255, 0.5);
}

html,
body {
  overflow-x: hidden;
}

body.dark {
  background-color: var(--backgroundBlack);
  color: #ffffff;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

.cv.dark {
  color: #ffffff !important;
}
.cv.light{
  color: #000000 !important;
  
}


body {
  /* width: min(1300px, 100%);
  margin: 0 auto; */
  /* overflow-x: hidden; */
  font-family: Poppins;
  background-color: var(--backgroundBlack);
  color: var(--text-main);
  font-size: 15px;
  min-height: 100vh;

  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: '';
    /* background-image: linear-gradient(to right, #eee, var(--lime), blue, red); */
    /* z-index: -1; */
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px);
  }
}


main {
  width: min(1300px, 100%);
  margin: 0 auto;

  /* padding: 0 150px; */
  /*O metto bootstrap o devo tenere questo padding*/
}

/* .dark-theme-a span{
  color: red !important ;
  text-decoration: underline;
}
.light-theme-a span{
  color: black ;
  text-decoration: underline;
}

.dark-theme-icon button {
  color: white;
}

.light-theme-icon button {
  color: yellow;
} */

header {
  position: fixed;
  width: min(1300px, 100%);
  height: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.6); /* Nero trasparente */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  & img {
    width: 50px;
  }


  .logo {
    & .theme button {
      border: none;
      outline: none;
    }
  }

  & .logo,
  nav {
    display: flex;
    gap: 30px;

    & .languageSelect {
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      background-color: var(--backgroundBlack);
      color: white;
    }

    & span {
      cursor: pointer;

      &.active {
        color: var(--lime);
        text-shadow: 0 0 5px;
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
        color: var(--lime-hover);
      }
    }

  }
}


section {
  padding: 50px;
  box-sizing: border-box;

  &#home {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    & .content {
      font-family: 'MuseoModerno', system-ui;

      & .name {
        font-size: 5em;
        font-weight: bold;
        line-height: 1em;

        & span {
          background-image: linear-gradient(to right,
              var(--lime),
              var(--name-text-1),
              var(--name-text-2),
              var(--lime));
          background-size: 200% auto;
          animation: gradientAnimation 5s linear infinite;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }

      & .des {
        color: #eee5;
        margin: 30px 0;
        border-left: .7em solid var(--lime);
        padding-left: 2em;
      }

      & a {
        color: #eee;
        font-size: large;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #eee;
        padding: 10px 20px;
        border-radius: 40px;
        margin-top: 30px;
        display: block;
        width: max-content;

        &:hover {
          text-decoration: underline;
          color: var(--lime);
        }
      }
    }

    & .avatar {
      text-align: right;

      & .card {
        display: inline-flex;
        flex-direction: column;
        width: min(100%, 400px);
        box-shadow: 0 100px 100px var(--lime-soft);
        transition: 0.5s;

        &:hover {
          box-shadow: 0 100px 100px var(--lime-hover);
          transform: scale(1.03);
        }

        & img {
          width: 100%;
          height: min(400px, 50vh);
          object-fit: cover;
          object-position: top;
        }

        & .info {
          background-color: #eee;
          color: #010824;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          text-align: center;
          gap: 20px;
          padding: 20px;
          font-size: 1.2em;

          & div:nth-child(-n +3) {
            font-weight: bold;
          }

          & .link {
            display: flex;
            align-items: center;
            flex-direction: column;

            & a {
              text-decoration: underline;
              color: var(--background);

              &:hover {
                /* text-decoration-color: red; */
              }
            }
          }
        }
      }
    }
  }

  &#skills {
    & .title {
      text-align: center;
      font-size: 3em;
      font-family: 'MuseoModerno', system-ui;
    }

    & .des {
      /* color: var(--text-main); */
      text-align: center;
      max-width: 500px;
      margin: auto;
    }

    & .list {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      gap: 3vw;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 70%;
        height: 70%;
        background-image: linear-gradient(-45deg, var(--lime), var(--lime-hover), var(--lime-soft));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* z-index: -1; */
        border-radius: 20px;
        background-size: 200% auto;
        filter: blur(100px);
      }

      & .item {
        backdrop-filter: blur(50px);
        padding: 20px;
        border-radius: 20px;
        background-color: #01082488;

        & svg {
          color: white;
          font-size: 30px;
          background-color: #eee2;
          padding: 10px;
          border-radius: 10px;
        }

        & img {
          background-color: #eee2;
          padding: 10px;
          border-radius: 10px;
          width: 35px;
          height: 35px;
        }

        & .des {
          text-align: left;
          width: 100%;
          font-size: small;
          /* font-weight: 500; */
          /* font-style: italic */
        }
      }
    }
  }

  &#projects {
    & .title {
      font-size: 3em;
      text-align: center;
      font-family: 'MuseoModerno';
      margin-top: 100px;
    }

    & .des {
      color: var(--text-main);
      text-align: center;
      max-width: 500px;
      margin: auto;
    }

    & .list {
      display: grid;
      margin: 20px 20px;
      gap: 60px;

      & .item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        align-items: center;

        & .images {
          background-image: linear-gradient(-45deg, var(--lime), var(--lime-hover), var(--lime-soft));
          padding: 40px;
          text-align: center;
          border-radius: 20px;
          overflow: hidden;
          height: 400px;
          display: flex;
          align-items: center;
          justify-content: center;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 20px 40px #010824;
          }
        }

        & .content {
          & h3 {
            font-size: 3em;
            margin: 0;

          }

          & .des {
            text-align: left;
            width: 100%;
          }

          & .mission {
            display: grid;
            grid-template-columns: 70px, 1fr;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
          }
        }
      }
    }

    & .item:nth-child(even) {
      direction: rtl;
    }

    & .item:nth-child(even) .images,
    & .item:nth-child(even) .content {
      direction: ltr;
    }
  }

  &#contacts {
    padding-bottom: 200px;
    position: relative;

    & .title {
      font-size: 3em;
      text-align: center;
      max-width: 500px;
      margin: auto;
    }

    & .list {
      text-align: center;

      & .item {
        margin-top: 50px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 20px;
      filter: blur(10px);
      background-image: linear-gradient(to right, var(--lime), var(--lime-hover));
      border-radius: 2px;
      opacity: 0.8;
    }
  }

}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 200;
}


.hamburger .bar {
  height: 3px;
  background-color: #eee;
  border-radius: 2px;
  transition: all 0.3s ease;
}


/* Animazione a X */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

nav.nav-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: var(--backgroundBlack);
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 150;
  display: flex;
  /* display sempre flex per animare opacity e transform */
}

nav.nav-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@keyframes gradientAnimation {
  to {
    background-position: 200% center;
  }

}

@media screen and (min-width: 768px) {
  nav.nav-menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 0;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
    background: transparent;
  }
}

@media screen and (max-width:767px) {

  body {
    overflow-x: hidden;
  }

  header {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background: var(--backgroundBlack);
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    display: none;
    z-index: 150;
  }

  nav.open {
    display: flex;
  }

  .hamburger {
    display: flex !important;
  }


  section {
    padding: 20px;

    &#home {
      grid-template-columns: 1fr;
      padding-top: 70px;

      & .content {
        & .name {
          font-size: 1.8em;
        }

        & a {
          margin: auto;
          font-size: small;
        }
      }

      & .avatar {
        grid-row-start: 1;

        & .card {
          &:hover {
            box-shadow: 0 100px 100px var(--lime-soft);
            transform: scale(1);
          }
        }
      }
    }

    &#skills {
      & .title {
        font-size: 2em;
      }

      & .list {
        grid-template-columns: 1fr;
      }
    }

    &#projects {
      & .title {
        font-size: 2em;
      }

      & .list {
        & .item {
          grid-template-columns: 1fr;

          & .content {
            & h3 {
              font-size: 1.5em;
            }
          }

          &:nth-child(2n) {

            & .content,
            .images {
              grid-column-start: auto;
              grid-column-end: auto;
              grid-row-start: auto;
            }
          }
        }
      }
    }

    &#contacts {
      & .title {
        font-size: 2em;
      }
    }
  }
}